.btn-group { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 50px; /* Isse shuruat mein dono door rahenge */
    margin-top: 30px;
    min-height: 100px;
    position: relative;
}

#yesBtn { 
    background: #ff4d6d; 
    color: white; 
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

#noBtn { 
    background: #fff; 
    color: #ff4d6d; 
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: 0.1s;
    /* Shuruat mein ye normal rahega */
    position: relative; 
    z-index: 999;
}
